# Default ignored files
/shelf/
__pycache__/
/workspace.xml
.idea/
doubts.txt
flow.txt
instagram clone project.txt
knowledge/
milestones.txt
next.txt
outline_steps.txt
plan.txt
requirements.txt
revise.txt
setup/
venv1/
